/* Global */
.container {
  font-size: 2rem;
}

video {
  vertical-align: top;
}

.download-link {
  font-size: 0.7em;
}

/* Hover Dropdown Menu */
.hover-dropdown {
  display: none;
}

.hover-dropdown-link:hover ~ .hover-dropdown {
  display: block;
}

.hover-dropdown:hover {
  display: block;
}


/* Catalog link */
.catalog-link video {
  vertical-align: middle;
}

.main-list {
  font-size: 2rem;
  padding: 0.6rem 0;
}

.analog-experiment-image {
  width: 560px;
  border: 2px solid black;
}

/* Resiez videos for mobile */
@media only screen
and (min-width : 320px)
and (max-width : 480px) {
  video {
    max-width: 320px;
  }

  .analog-experiment-image {
    max-width: 320px;
  }
}
